spring:
  application:
    name: social_media
  mail:
    host: localhost
    port: 25
    default-encoding: UTF-8
  config:
    import: optional:file:./env.properties
  datasource:
    url: jdbc:postgresql://localhost:5432/social_media
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      idle-timeout: 20000
      minimum-idle: 5
      max-lifetime: 1800000
      connection-timeout: 20000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 20000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms
  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: mail-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    properties:
      spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

server:
  port: 8080

app:
  jwt:
    secret-key: 3e9f2d47c21f4f88b6312af7f0c46a62db88e21c472a13e8d5118ab0b35b73f0
  base-url: http://localhost:8080
  default-image: /images/default.jpeg

minio:
  endpoint: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket-name: profiles

logging:
  level:
    com.social.media: DEBUG


